@import '../../utils/variables.scss';

.events-list {
	margin-top: 3rem;
	max-height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	@media screen and (max-width: $phone-size) {
		margin-top: 1rem;
	}
}
