@import '../../utils/variables.scss';

.calendar-wrapper {
	flex: 4;
	background: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $phone-size) {
		padding: 0.5rem;
	}
}
